<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggedIn</title>
</head>
<body>

<div>
    <span style="float:right"> Welcome <a th:text="*{employee.username}" ></a> </span>
</div>

<h1>HOME PAGE</h1>

<fieldset>
    <h3>CREATE NEW PACKAGE</h3>
    <div>
        <form action="#" th:action="@{/GoToEmployeeHomePage}" method="POST">
            <span>
                <p>
                    Name: <input type="text" name="packageName" required>
                </p>
            </span>

            <p>
                <label>Select fixed phone service:</label>
                <ul>
                    <li>
                        <label th:text="${'Type: Fixed Phone, no specific configuration parameters'}"></label>
                        <label>
                            <input type="checkbox" th:id="fixedPhone"
                                   th:name="fixedPhoneButton" th:value="fixedPhone"/>
                        </label>
                    </li>
                </ul>

            </p>

            <p>
                <label>Select mobile phone service:</label>
            <ul>
                <li th:each="service : ${mobilePhone}">
                    <label th:for="${service.id}" th:text="${ 'Type: Mobile Phone, minutes number: ' +
                    service.getMinutesNumber() + ', minutes fee: ' + service.getMinutesFee()
                    + ', sms number: ' + service.getSmsNumber() + ', sms fee: ' + service.getSmsFee() }"></label>
                    <label>
                        <input type="checkbox" th:id="${service.id}"
                               th:name="mobilePhoneButton" th:value="${service.id}"/>
                    </label>
                </li>
            </ul>
            </p>

            <p>
                <label>Select fixed internet service:</label>
            <ul>
                <li th:each="service : ${fixedInternet}">
                    <label th:for="${service.id}" th:text="${ 'Type: Fixed Internet, GigaBytes number: '
                    + service.getGigabyteNumber() + ', Gigabytes fee: ' +service.getGigabyteFee() }"></label>
                    <label>
                        <input type="checkbox" th:id="${service.id}"
                               th:name="fixedInternetButton" th:value="${service.id}"/>
                    </label>
                </li>
            </ul>
            </p>

            <p>
                <label>Select mobile internet service:</label>
            <ul>
                <li th:each="service : ${mobileInternet}">
                    <label th:for="${service.id}" th:text="${ 'Type: Mobile Internet, GigaBytes number: '
                    + service.getGigabyteNumber() + ', Gigabytes fee: ' +service.getGigabyteFee() }"></label>
                    <label>
                        <input type="checkbox" th:id="${service.id}"
                               th:name="mobileInternetButton" th:value="${service.id}"/>
                    </label>
                </li>
            </ul>
            </p>

            <p>
                <label>Select one or more optional products:</label>
            <ul>
                <li th:each="product : ${optionalProducts}">
                    <label th:for="${product.name}" th:text="${product.getName() + ' - Monthly fee:' + product.getMonthlyFee()}">
                    </label>
                    <label>
                        <input type="checkbox" th:id="${product.id}"
                               th:name="optionalButton" th:value="${product.id}"/>
                    </label>
                </li>
            </ul>
            </p>

            <span> <br>
                Choose the price for each validity period: <br><br>
                12 months: <input type="number" step="0.01" name="prize12" min="0" required> euro/month <br><br>
                24 months: <input type="number" step="0.01" name="prize24" min="0" required> euro/month <br><br>
                36 months: <input type="number" step="0.01" name="prize36" min="0" required> euro/month <br><br>
            </span>

            <span>
                <p>
                    <input type="submit" value="Confirm Service Package">
                </p>
                <p th:text=" ${confirmMsg}" style="color:green"></p>
                <p th:text=" ${errorMsg1}" style="color:red"></p>
                <p th:text=" ${errorMsg2}" style="color:red"></p>
            </span>

        </form>
    </div>
</fieldset>

<br>
<a href="CreateService"> <input type="submit" value="Create new Service"> </a>
<br><br>
<a href="CreateOptional"> <input type="submit" value="Create new Optional Product"> </a>

</body>
</html>