<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggedIn</title>
</head>
<body>
<h1>HOME PAGE</h1>
<div>
    <span style="float:right">Welcome <a th:text="${user} ? *{user.username} : 'anonymous'" ></a> </span>
</div>
<div th:if="${packages}">
    <h3>Available packages</h3>
    <ul>
        <li th:each="s:${packages}">
		<span
                th:text="${'Name: ' + s.getName()}"></span>

        </li>
    </ul>
</div>
<div>
    <p>Choose a Package to display</p>
    <form action="#" th:action="@{/GoToHomePage}" method="GET">
        <fieldset>
            <p>
                <label for="packageId">Choose a package:</label>
                <select  name="packageId" id="packageId">
                    <option th:each="s : ${packages}" th:value="${s.id}"
                            th:text="${s.name}"></option>
                </select>
            </p>
            <input type="submit" name="Display course" value="Display">
        </fieldset>
    </form>
</div>
<div>
    <span th:if = "${packageSelected != null}">
        <p
                th:text="${
                'The monthly fee for 12 months is: ' + packageSelected.getMonthlyFee12()
                + ', The monthly fee for 24 months is: ' + packageSelected.getMonthlyFee24()
                + ', The monthly fee for 36 months is: ' + packageSelected.getMonthlyFee36()}"></p>

        <p
                th:text="${'Icluded services of ' + packageSelected.name + ':'}"></p>
    <ul>
        <li th:each="serv:${services}">
            <div th:switch="${serv.getType()}">
                <p th:case="'fixedPhone'" th:text="${'FIXED PHONE'}"></p>
                <p th:case="'mobilePhone'" th:text="${ 'Type: ' + serv.getType()
                    + ', minutes number: ' + serv.getMinutesNumber() + ', minutes fee: ' + serv.getMinutesFee()
                    + ', sms number: ' + serv.getSmsNumber() + ', sms fee: ' + serv.getSmsFee() }"></p>
                <p th:case="'fixedInternet'" th:text="${ 'Type: ' + serv.getType()  + ', GigaBytes number: ' + serv.getGigabyteNumber() + ' Gigabytes fee: ' +serv.getGigabyteFee() }"></p>
                <p th:case="'mobileInternet'" th:text="${ 'Type: ' + serv.getType()  + ', GigaBytes number: ' + serv.getGigabyteNumber() + ' Gigabytes fee: ' +serv.getGigabyteFee() }"></p>
            </div>
        </li>
    </ul>
        <p>Optional product available: </p>
        <ul>
            <li th:each="optional:${optionalProducts}">
                <p th:text="${optional.getName() + ' monthly fee:' + optional.getMonthlyFee()}"></p>
            </li>
        </ul>

    </span>
</div>
<div>
    <a href="BuyService">Buy a package</a>
</div>
    <span th:if="${user == null}"> <a href="registration.html">Create a new account</a> <br>
                                    <a href="index.html">Login</a> </span>
</div>

</body>
</html>