<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggedIn</title>
</head>
<body>
<h1>HOME PAGE</h1>
<div>
    <span style="float:right">Welcome <a th:text="${user} ? *{user.username} : 'anonymous'" ></a> </span>
</div>
<div th:if="${packages}">
    <h3>Available packages</h3>
    <ul>
        <li th:each="s:${packages}">
		<span
                th:text="${'Name: ' + s.getName()  + ', prize: ' + s.getMonthlyFee() + ', validity period: ' + s.getValidityPeriod() }"></span>

        </li>
    </ul>
</div>
<td>
    <span th:if="${user == null}"> <a href="registration.html">Create a new account</a> <br>
                                    <a href="index.html">Login</a> </span>
</td>

</body>
</html>